.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
/Watershed Delineation/Working/*
/Watershed Delineation/Working2/*
/.quarto/
/Big G Little g/GgDiffJAGS_cache
/Big G Little g/GgStoryPlots_cache
/Big G Little g/WedgeModel_cache
/Big G Little g/JAGS models/Fitted models
/Event Delineation/HydroEvents_cache
/Data Availability/CollateData_cache
